@using Oqtane.Modules.Controls
@using DNF.Projects.Services
@using DNF.Projects.Models
@using DNF.Projects.Shared

@namespace DNF.Projects
@inherits ModuleBase
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager

@if (_initialized)
{
    <table class="table table-borderless">
        <tr>
            <td>
                <Label For="_url" HelpText="Github Repository Url">Github Url: </Label>
            </td>
            <td>
                <input id="_url" class="form-control" @bind="@_url" />
            </td>
        </tr>
    <tr>
        <td>
            <Label For="_category" HelpText="Enter the project category">Project Category: </Label>
        </td>
        <td>
            <select id="_category" class="form-control" @bind="@_category">
                <option value="community">Community</option>
                <option value="microsoft">Microsoft</option>
            </select>
        </td>
    </tr>
        <tr>
            <td>
                <Label For="_date" HelpText="Date When Activity Metrics Were Recorded">Date: </Label>
            </td>
            <td>
                <input id="_date" class="form-control" @bind="@_date" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="_watcers" HelpText="Number of Watchers">Watchers: </Label>
            </td>
            <td>
                <input id="_watchers" class="form-control" @bind="@_watchers" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="_stars" HelpText="Number of Stars">Stars: </Label>
            </td>
            <td>
                <input id="_stars" class="form-control" @bind="@_stars" />
            </td>
        </tr>
        <tr>
            <td>
                <Label for="_forks" HelpText="Number of Forks">Forks: </Label>
            </td>
            <td>
                <input id="_forks" class="form-control" @bind="@_forks" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="_contributors" HelpText="Number of Contributors">Contributors: </Label>
            </td>
            <td>
                <input id="_contributors" class="form-control" @bind="@_contributors" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="_commits" HelpText="Number of Commits">Commits: </Label>
            </td>
            <td>
                <input id="_commits" class="form-control" @bind="@_commits" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="_issues" HelpText="Number of Issues (Open + Closed)">Issues: </Label>
            </td>
            <td>
                <input id="_issues" class="form-control" @bind="@_issues" />
            </td>
        </tr>
        <tr>
            <td>
                <Label For="_pullrequests" HelpText="Number of Pull Requests (Open + Closed)">Pull Requests: </Label>
            </td>
            <td>
                <input id="_pullrequests" class="form-control" @bind="@_pullrequests" />
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-success" @onclick="Save">Save</button>
    <NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
    <br />
    <br />
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Title => "Project Activity";

    bool _initialized = false;
    int _id;
    string _url;
    string _category;
    string _date;
    string _watchers;
    string _stars;
    string _forks;
    string _contributors;
    string _commits;
    string _issues;
    string _pullrequests;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _id = Int32.Parse(PageState.QueryString["id"]);
            Project Project = await ProjectService.GetProjectAsync(_id, ModuleState.ModuleId);
            if (Project != null)
            {
                _url = Project.Url;
                _category = Project.Category;
                _createdby = Project.CreatedBy;
                _createdon = Project.CreatedOn;
                _modifiedby = Project.ModifiedBy;
                _modifiedon = Project.ModifiedOn;
                _initialized = true;
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Project {ProjectId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading Project", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            Project Project = await ProjectService.GetProjectAsync(_id, ModuleState.ModuleId);
            if (!string.IsNullOrEmpty(_url) && _url.StartsWith(Common.UrlPrefix))
            {
                if (Project.Url != _url || Project.Category != _category)
                {
                    Project.Url = _url;
                    Project.Category = _category;
                    await ProjectService.UpdateProjectAsync(Project);
                    await logger.LogInformation("Project Updated {Project}", Project);
                }

                DateTime date;
                if (!string.IsNullOrEmpty(_date) && DateTime.TryParse(_date, out date))
                {
                    var activity = new ProjectActivity();
                    activity.ProjectId = Project.ProjectId;
                    activity.Date = date.Date;
                    activity.Watchers = (string.IsNullOrEmpty(_watchers) ? 0 : int.Parse(_watchers));
                    activity.Stars = (string.IsNullOrEmpty(_stars) ? 0 : int.Parse(_stars));
                    activity.Forks = (string.IsNullOrEmpty(_forks) ? 0 : int.Parse(_forks));
                    activity.Contributors = (string.IsNullOrEmpty(_contributors) ? 0 : int.Parse(_contributors));
                    activity.Commits = (string.IsNullOrEmpty(_commits) ? 0 : int.Parse(_commits));
                    activity.Issues = (string.IsNullOrEmpty(_issues) ? 0 : int.Parse(_issues));
                    activity.PullRequests = (string.IsNullOrEmpty(_pullrequests) ? 0 : int.Parse(_pullrequests));
                    await ProjectService.AddProjectActivityAsync(activity, ModuleState.ModuleId);
                    await logger.LogInformation("Project Activity Added {ProjectActivity}", activity);
                }

                AddModuleMessage("Project Saved", MessageType.Success);
            }
            else
            {
                AddModuleMessage("You Need To Provide A Github Url", MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Project {Error}", ex.Message);
            AddModuleMessage("Error Saving Project", MessageType.Error);
        }
    }
}
