@using DNF.Projects.Services
@using DNF.Projects.Models
@using DNF.Projects.Shared

@namespace DNF.Projects
@inherits ModuleBase
@inject IProjectService ProjectService
@inject IProjectActivityService ProjectActivityService
@inject NavigationManager NavigationManager

@if (_initialized)
{
    <div class="DNF-Projects-View">
        <div class="col text-center">
            <NavLink class="btn btn-secondary" href="@CloseUrl()">Return To Projects</NavLink>
        </div>
        <br />
        <h2 class="text-center"><a href="@_url" target="_new">@_name</a></h2>
        @if (!string.IsNullOrEmpty(_description))
        {
            <div class="text-center">
                @_description
            </div>
        }
        @if (!string.IsNullOrEmpty(_package))
        {
            <div class="text-center">
                ( <b>Nuget Package:</b> <a href="@("https://www.nuget.org/packages/" + _package)" target="_new">@_package</a> )
            </div>
        }
        <br />
        <div class="row justify-content-center mb-3">
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="date" class="form-control" @bind="@_from" readonly />
                    <span class="input-group-text">To</span>
                    <input type="date" class="form-control" @bind="@_to" readonly />
                </div>
            </div>
        </div>
        <br />
        <div id="chart" class="chart"></div>
        <br />
        @if (_ProjectActivity != null && _ProjectActivity.Count > 0)
        {
            <Pager Items="@_ProjectActivity.OrderByDescending(item => item.Date)" DisplayPages="1">
                <Header>
                    <th>Date</th>
                    <th>Watchers</th>
                    <th>Stars</th>
                    <th>Forks</th>
                    <th>Contributors</th>
                    <th>Commits</th>
                    <th>Issues</th>
                    <th>PRs</th>
                    <th>Downloads</th>
                </Header>
                <Row>
                    <td>@(context.Date.ToString("MMM-dd-yyyy"))</td>
                    <td>@(context.Watchers)</td>
                    <td>@(context.Stars)</td>
                    <td>@(context.Forks)</td>
                    <td>@(context.Contributors)</td>
                    <td>@(context.Commits)</td>
                    <td>@(context.Issues)</td>
                    <td>@(context.PullRequests)</td>
                    <td>@(context.Downloads)</td>
                </Row>
            </Pager>
        }
        else
        {
            <div class="col text-center">Activity Does Not Exist For This Project</div><br />

        }
        <br />
        <div class="col text-center">
            <NavLink class="btn btn-secondary" href="@CloseUrl()">Return To Projects</NavLink>
        </div>
    </div>
}

@code {
    bool _initialized = false;
    List<ProjectActivity> _ProjectActivity;
    int _id;
    string _name;
    DateTime _from = DateTime.Now.AddDays(-30);
    DateTime _to = DateTime.Now;
    string _description = "";
    string _url = "";
    string _package = "";
    bool _refresh = false;

    public override string UrlParametersTemplate => "/{id}/{from}/{to}";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" },
        new Resource { ResourceType = ResourceType.Script, Bundle = "ChartJS", Url = "https://cdn.jsdelivr.net/npm/chart.js@2.8.0" },
        new Resource { ResourceType = ResourceType.Script, Bundle = "ChartJS", Url = ModulePath() + "Module.js" }
    };

    public override string Title => "Daily Trends";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (UrlParameters.ContainsKey("id"))
            {
                _id = int.Parse(UrlParameters["id"]);
            }
            if (UrlParameters.ContainsKey("from"))
            {
                _from = DateTime.Parse(UrlParameters["from"]);
            }
            if (UrlParameters.ContainsKey("to"))
            {
                _to = DateTime.Parse(UrlParameters["to"]);
            }

            var project = await ProjectService.GetProjectAsync(_id, ModuleState.ModuleId);
            if (project != null)
            {
                _name = FormatUrl(project.Url, project.Title);
                _description = project.Description;
                _url = project.Url;
                _package = project.Package;
                await Display();
                _initialized = true;
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Project Activity {Error}", ex.Message);
            AddModuleMessage("Error Loading Project Activity", MessageType.Error);
        }
    }

    private async Task Display()
    {
        try
        {
            _ProjectActivity = await ProjectActivityService.GetProjectActivityAsync(_id, _from.Date, _to.Date, ModuleState.ModuleId);
            if (_ProjectActivity.Count > 0)
            {
                _ProjectActivity = _ProjectActivity.OrderByDescending(item => item.Date).ToList();
                _refresh = true;
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Project Activity {Error}", ex.Message);
            AddModuleMessage("Error Loading Project Activity", MessageType.Error);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            if (_refresh)
            {
                string[] metrics = new string[] { "Watchers", "Stars", "Forks", "Contributors", "Commits", "Issues", "PullRequests", "Downloads" };
                string[] colors = new string[] { "#FF0000", "#FF8000", "#FFFF00", "#00FF00", "#00FFFF", "#0080FF", "#0000FF", "#8000FF" };

                // pivot data for chart
                List<string> labels = new List<string>();
                Dictionary<string, List<int>> data = new Dictionary<string, List<int>>();
                foreach (string metric in metrics)
                {
                    data.Add(metric, new List<int>());
                }
                foreach (var activity in _ProjectActivity.OrderBy(item => item.Date).ToList())
                {
                    labels.Add(activity.Date.ToShortDateString());
                    data["Watchers"].Add(activity.Watchers);
                    data["Stars"].Add(activity.Stars);
                    data["Forks"].Add(activity.Forks);
                    data["Contributors"].Add(activity.Contributors);
                    data["Commits"].Add(activity.Commits);
                    data["Issues"].Add(activity.Issues);
                    data["PullRequests"].Add(activity.PullRequests);
                    data["Downloads"].Add(activity.Downloads);
                }

                int index = -1;
                List<object> datasets = new List<object>();
                foreach (var item in data)
                {
                    index += 1;
                    datasets.Add(new { label = item.Key, data = item.Value.ToArray(), fill = false, borderColor = colors[index] });
                }
                object options = new { maintainAspectRatio = false, legend = new { display = true, position = "bottom", labels = new { fontColor = "white", fontSize = 16 } } };

                var interop = new Interop(JSRuntime);
                await interop.CreateChart("chart", "line", labels.ToArray(), datasets.ToArray(), options);

                _refresh = false;
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Rendering Chart {Error}", ex.Message);
            AddModuleMessage("Error Rendering Chart", MessageType.Error);
        }
    }

    private string FormatUrl(string url, string title)
    {        
        if (string.IsNullOrEmpty(title))
        {
            url = url.Replace(Common.UrlPrefix, "");
            url = url.Substring(url.IndexOf("/") + 1);
        }
        else
        {
            url = title;
        }
        return url;
    }

    private string CloseUrl()
    {
        return (!string.IsNullOrEmpty(PageState.ReturnUrl)) ? PageState.ReturnUrl : NavigateUrl();
    }
}
